@model WebApplication1.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>CHI TIẾT SẢN PHẨM</h2>
@Html.Partial("PV_ProInfo", Model)

<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
</p>
