@model WebApplication1.Models.ViewModel.HomeProductVM

<style type="text/css">
    #home-banner {
        background-image: url("../Content/images/banner.jpg");
        background-size: cover;
        background-position: center;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-banner-content {
        text-align: center;
        color: white;
    }

        .home-banner-content h2 {
            font-size: 34px;
        }

        .home-banner-content p {
            font-size: 24px;
        }

        .home-banner-content a {
            font-size: 24px;
            text-decoration: none;
            color: white;
        }

    #featureProd {
        text-align: center;
    }

        #featureProd h2 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

    .prod-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .product-item {
        width: 200px;
    }

        .product-item h3 {
            font-size: 16px;
            margin: 10px 0px;
        }

    .product-description {
        font-size: 16px;
        color: #808080;
    }

    .product-price {
        font-weight: bold;
        font-size: 12px;
        color: black;
    }
    .input-search-top {
        max-width: 300px;
    }
</style>

<section id="home-banner">
    <div class="home-banner-content">
        <h2>Chào mừng bạn đến với trang trại gà của chúng tôi</h2>
        <p>Hàng ngàn món ngon từ gà đang chờ đón bạn</p>
        <a href="#" class="btn">Bắt đầu mua sắm</a>
    </div>
</section>
<section class="container-fluid search-Prod">
    <h2 class="text-center my-3">Tìm kiếm sản phẩm</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {

        <div class="form-group search-container d-flex gap-1 justify-content-center">
            @Html.TextBoxFor(m => m.SearchTerm, new
       {
           @class = "form-control input-search-top",
           placeholder = "Nhập tên, mô tả hoặc danh mục sản phẩm"
       })
            <button type="submit" class="search-button btn btn-primary">Tìm kiếm</button>
        </div>


    }
</section>
@Html.Partial("PV_FeatureProduct", Model)
@Html.Partial("PV_NewProduct", Model)
